<body>
    <header>
        <nav>
            <%# User %>
            <a href="/user/product-list">Product List</a>
            <a href="/user/cart">Cart</a>
            <a href="/user/checkout">Checkout</a>
            <a href="/user/orders">Orders</a>
            
            <p>-----</p>
            <%# Admin %>
            <a href="/admin/product-add">Add Product</a>
            <a href="/admin/product-list">List Product</a>
            <a href="/admin/product-edit">Edit Product</a>
        </nav>
    </header>