<%- include('includes/header') %>
</head>

<%- include('includes/navbar') %>
    <main>
        <form action="/admin" method="POST">
            <input placeholder="Enter product name..." class="add_input" type="text" name="prod_name">
            <button class="add_btn" type="submit">Add Product</button>
        </form>
    </main>
<%- include('includes/footer') %>